nav{
	background: none;
	background-image: none;
	background-color: #0094E7;
}

html{
	background-color: #2B2B2B;
}

#title{
	color: #ffffff;
}

#content-wrapper{
	background-color: #2B2B2B !important;
}

#footer{
	background-color: #2B2B2B !important;
}

#box{
	margin-top: 20px;
	background-color: #00000000;
	border: 0px solid #00000000; 
}

form{
	margin-top: 20px;
}