 /* Just for kicks and layout */
body {
  margin-top: 0px;
  /* background-color: #eee;*/
  background-color: black;
}


 /* FAQ */
.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;    
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .nav-link {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
        
        &:hover {
            background-color: #f6f6f6;
        }
        
        &.active {
            background-color: #f6f6f6;
            font-weight: 700;
            color: rgba(0,0,0,.87);        
        }
        
        &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 0;
        }

    }
}

 /* TAB CONTENT */
.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .card {
        border-radius: 0;
    }
    
    .card-header {
        padding: 15px 16px;
        border-radius: 0;
        background-color: #f6f6f6;
        
        h5 {
            margin: 0;
            
            button {
                display: block;
                width: 100%;
                padding: 0;
                border: 0;
                font-weight: 700;
                color: rgba(0,0,0,.87);
                text-align: left;
                white-space: normal;
                
                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    text-decoration: none;
                }
            }
        }
    }
    
    .card-body {
        p {
            color: #616161;
            
            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/* BORDER FIX */
.accordion{ 
    >.card {
        &:not(:first-child) {
            border-top: 0;
        }   
    }
}

.collapse.show {
    .card-body {
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}



#myBtn{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: black;
    outline-color: aqua;
    background-color: #333333;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    color: #ddd;
    z-index: 99;
    font-size: 16px;
}

/* styles the button */
#myBtn:hover{
    background-color: antiquewhite;
    color:black;
}


/* styles the navbar */

.scroller {
    overflow-y: scroll;
  }
  .scroller::-webkit-scrollbar {
    width: 4px;
  }
  a {
    cursor: pointer !important;
  }
  .scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
  }
  .btn-brand {
    background: #0094e7;
    color: white;
  }
  .btn-brand-outline {
    color: white;
    background: inherit;
  }
  .btn-brand-white{
      background: white;
      color: #0094e7;
  }
  .our-nav{
      background: #0094e7;
     
  }
  .brand-image{
      height: 6vh;
  }
  .brand-image img{
      height: 100%;
  }
  .our-nav .brand-image span{
      color: white;
  }
  .nav-btns button{
    font-size: 12px;
    font-weight: bold;
  }

  .goup{
     margin-top: 0%;
  }