.scroller {
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
  width: 4px;
}
a {
  cursor: pointer !important;
}
#recycle_counter {
  visibility: hidden;
}
.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.scroller::-webkit-scrollbar-thumb {
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #343a40;
}
.btn-brand {
  background: #0094e7;
  color: white;
}
.btn-brand-outline {
  color: white !important;
  background: inherit;
}
.btn-brand-white{
    background: white;
    color: #0094e7 !important;
}
.our-nav{
    background: #0094e7;
}
#re_auth_preloader {
  visibility: hidden;
}
.brand-image{
    height: 6vh;
}
.brand-image img{
    height: 100%;
}
.our-nav .brand-image span{
  font-weight: 600;
  color: white;
  font-size: 22px;
  margin-left: 15px;
}
.our-nav{
  height: 10vh;
}
.nav-btns button{
  font-size: 12px;
  font-weight: bold;
}
.footer{
    min-height: 10vh;
    background: #333333;
}
.copyright{
    line-height: 14px;
}
.copyright p{
    color: white;
}
.copyright span{
    color: grey;
    font-size: 12px;
}
.footer-links ul li{
    color: white;
    display: inline;
    cursor: pointer;
}
._err_msg {
  color: red !important;
  font-size: 14px;
  margin: 0;
}
#saveImage {
  visibility: hidden;
}
.percent_formatting {
  position:absolute; left: 30%; margin-left:-20px; top:40%; font-size: 80px;
}
.preloader_bg {
  width: 100%;
  height: 100%;
  z-index: 999999999;
  position: fixed;
  background: black;
  opacity: 0.4;
  display: none;
}
.preloader_bg_2 {
  width: 100%;
  height: 100%;
  z-index: 999999999;
  opacity: 1;
}
.bounceOutContinue {
  animation: bounceOut 1s infinite linear;
}
.money_preloader {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  margin-left: -30px;
  margin-top: -10px;
  top: 50%;
  left: 50%;
}
.money_preloader img {
  width: 100%;
  height: 100%;
}
.action {
  background: #0094e7 !important;
}
.navbar-collapse {
  z-index: 1000;
  background: #0094e7;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}
.footer-links .mt-3 .mx-5 {
  margin-right: 0 !important;
}
.filler {
  display: none !important;
}
